name: Build Windows

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Qt 5
        run: choco install qt5-default --confirm -r --no-progress

      - name: Clone protobuf
        run: git clone https://github.com/protocolbuffers/protobuf

      - name: Install protobuf
        run: >
          cd protobuf/cmake;
          mkdir build;
          cd build;
          cmake ..
          -Dprotofbuf_BUILD_SHARED_LIBS=ON
          -Dprotobuf_BUILD_EXAMPLES=OFF
          -Dprotobuf_BUILD_TESTS=OFF
          -Dprotobuf_WITH_ZLIB=ON
          -Dprotobuf_BUILD_PROTOC_BINARIES=ON
          -DCMAKE_INSTALL_PREFIX= ../..;
          cmake --build . --target installgit

      - name: Compile protobuf messages
        run: ./protobuf/bin/protoc.exe --proto_path ./src/proto --cpp_out ./src/proto feature.proto example.proto

      - name: Clone OpenCV
        run: >
          git clone https://github.com/opencv/opencv;
          cd opencv; git checkout 4.5.3; cd ..; 
          git clone https://github.com/opencv/opencv_contrib;
          cd opencv_contrib; git checkout 4.5.3

      - name: Compile OpenCV
        run: >
            cd opencv; 
            mkdir build; 
            cd build; 
            cmake .. 
            -DOPENCV_EXTRA_MODULES_PATH=../../opencv_contrib/modules 
            -DBUILD_TESTS=OFF 
            -DBUILD_PERF_TESTS=OFF .. 
            -DCMAKE_BUILD_TYPE=RELEASE 
            -DBUILD_EXAMPLES=OFF 
            -DBUILD_DOCS=OFF 
            -DBUILD_opencv_apps=OFF
            -DCMAKE_INSTALL_PREFIX=.;
            cmake --build .  --target install
      
      - name: Run QMake
        run: qmake -makefile -o Makefile DeepLabel.pro

      - name: Run Make
        run: make -j4

      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: linux-release
          path: ./release/deeplabel
